* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
  font-family: sans-serif;
  background: rgba(147, 129, 129, 0.408);
}

main {
  box-shadow: 15px 15px 5px 10px rgba(0,0,0,.2);
  border: 2px solid #777;
  
  display: flex;

  flex-wrap: wrap; 
}

h1,
h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

div {
  margin: 10px;
}

p {
  padding: 5px;
}

input {
  width: 90%;
  border: 2px solid black;
  margin: 5px;
  padding: 12px;
}

button {
  display: grid;
  margin: 5px auto;
  padding: 20px;
  margin-top: 10px;
}

.column-test-1, .column-test-2, .column-test-3 {
  border: 1px solid #777;
  box-shadow: 15px 15px 5px -5px rgba(0,0,0,.4);
}
